p{

	font-weight: 500;
    color: #535353;
}

.content-text {
    height: 400px;
    overflow: auto;
    padding: 10px;
}

.w-50{
	    width: 100% !important;
}

h2{
	font-size: x-large;
}

#sidebar ul li a {

    direction: ltr;
	text-align: left;
}